<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Ambulances</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <!-- selector for app component from app-module -->
  <ul>
	<li>Lat: 33.0  Long: 180.0  Provider:Ambulance Service A: IDLE</li>
	<li>Lat: 133.0  Long: 80.0  Provider:Ambulance Service B: IN ROUTE</li>
	<li>Lat: 53.0  Long: 180.0  Provider:Ambulance Service A: PATIENT PICKED UP</li>
</ul>
</body>
</html>
